@import "./variables";
@import "./fonts";
@import "./components";
@import "./index";
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    height: 100%;
}
body {
    font-family: "rubic";
    background-image: url('../../public/images/bg.jpg');
    background-repeat: repeat;
    height: 100%;
}
img {
    width: 100%;
}
.bg-transparent {
    background-color: transparent;
}
.hidden{
    display: none;
}
.btn{
    cursor: pointer;
}